@import "{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

$font-size-h1: floor(($font-size-base * 2));    /* 2.6 */
$font-size-h2: floor(($font-size-base * 1.75)); /* 2.15 */
$font-size-h3: floor(($font-size-base * 1.5));  /* 1.7 */

$border-radius-base:        2px; /* 4px */
$border-radius-large:       3px; /* 6px */
$border-radius-small:       2px; /* 3px */

$table-cell-padding:            5px; /* 8px */
$table-condensed-cell-padding:  3px; /* 5px */
$alert-padding:                 8px; /* 15px */
$panel-body-padding:            8px; /* 15px */
$panel-heading-padding:         5px 8px; /* 10px 15px */
$panel-footer-padding:          5px 8px;

$nav-link-padding: 5px 8px; /* 10px 15px */

@import "{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "{}/node_modules/eonasdan-bootstrap-datetimepicker/src/sass/_bootstrap-datetimepicker.scss";

.list-group-item {
  padding: 6px 9px; /* 10px 15px; */
}

.glyphicon-status {
  font-size: 22px;
  vertical-align: middle;
}

textarea { resize: vertical; }

.link-dotted {
  &:hover {
    text-decoration: none;
    border-bottom-style: solid;
  }
  border-bottom: 1px dashed #23527C;
}

.user-text {
  white-space: pre-wrap;
  word-break: break-all;
}

.table-noTopBorder tr:first-child td {
  border-top: none;
}

.user-status {
  cursor: default;
  position: relative;
  bottom: .4em;
  &:before {content: '\25CF'}
  &.online {color: $brand-success}
  &.idle {color: $brand-warning}
  &.offline {display: none}
}

.navbar .navbar-nav .connection-status {
  @each $context in primary success info warning danger {
    > a.#{$context} {
      @extend .bg-#{$context};
      @extend .text-#{$context};
    }
  }
}

#app {
  > div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    > * {
      flex-shrink: 0;
      @media only screen and (max-width: $screen-sm-min) {
        width: 100%;
      }
    }
    > main {
      flex-grow: 1;
    }
    > footer {
      padding: 15px;
    }
  }
  &.full-screen > div {
    > main {
      flex-shrink: 1;
      overflow: auto;
      height: 100%;
    }
    > footer {
      display: none;
    }
  }
}
