{% extends "main/base.html" %}
{% load bootstrap3 %}
{% block title %}{{ profile }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <h3>{{ profile }}</h3>
            <table class="table table-bordered table-condensed">
                {% if profile.group %}<tr><td>Группа</td><td>{{ profile.group }}</td></tr>{% endif %}
                <tr><td>Баланс</td><td>{% coins profile.balance %}</td></tr>
                <tr><td>Оборот</td><td>{% coins profile.spend %}</td></tr>
                <tr><td>Был в системе</td><td>{{ profile.user.last_login }}</td></tr>
                <tr><td>Дата регистрации</td><td>{{ profile.user.date_joined }}</td></tr>
                <tr><td></td><td>{% include 'main/common/toolbar.html' with object=profile %}</td></tr>
            </table>
            {% if profile.about %}
                <div class="panel panel-default">
                    <div class="panel-heading">О себе{% if user == profile.user %}
                            <a title="Изменить" href="{% url 'settings' %}" class="btn btn-warning btn-xs pull-right">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                    {% endif %}</div>
                    <div class="panel-body">
                        <div class="user-text">{{ profile.about }}</div>
                    </div>
                </div>
            {% endif %}

            {% if user == profile.user %}
                <a href="{% url 'fefu_send_mail' %}">Получите 10 кленинок, зарегистрировав почту с домена students.dvfu.ru.</a>
            {% endif %}

        </div>
        <div class="col-md-7">
            {% if transactions %}
                <h3>Последние операции</h3>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr><td></td><td>Участник</td><td>Сумма</td><td>Когда</td><td></td></tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>
                            {% if transaction.user_from == profile %}
                                <span title="Перевёл" class="glyphicon glyphicon-chevron-right glyphicon-status text-danger"></span>
                            {% else %}
                                <span title="Получил" class="glyphicon glyphicon-chevron-left glyphicon-status text-success"></span>
                            {% endif %}</td>
                            <td>{% if transaction.user_from != profile %}
                                {% user transaction.user_from %}{% else %}{% user transaction.user_to %}
                            {% endif %}</td>
                            <td><a href="{% url 'transaction' transaction.pk %}">{% coins transaction.amount %}</a></td>
                            <td>{{ transaction.timestamp_create }}</td>
                            <td><a href="{% url 'transaction' transaction.pk %}">{% status transaction.status %}</a></td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>
                {% bootstrap_pagination transactions %}
            {% else %}
                <h4>Операций не произведено</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
