{% extends 'main/base.html' %}
{% block title %}Параметры{% endblock %}
{% block header-text %}Параметры{% endblock %}
{% load bootstrap3 %}
{% block content %}
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% bootstrap_form userForm layout="horizontal" %}
        {% bootstrap_form userProfileForm layout="horizontal" %}
        {% buttons submit='Сохранить' layout='horizontal' %}{% endbuttons %}
        <input type="hidden" name="form_type" value="userProfile">
    </form>
    <h4>Изменить пароль</h4>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% bootstrap_form passwordForm layout="horizontal" %}
        {% buttons submit='Изменить пароль' layout='horizontal' %}
        {% endbuttons %}
        <input type="hidden" name="form_type" value="password">
    </form>
{% endblock %}
