.idea/*
*.pyc
db.sqlite3

main/migrations/*
witcoin/settings.py
main/fixtures/initial.json

[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
*.pyproj
*.sln
/.vs
/web.debug.config
/web.config

# Virtual environment
env/
venv/
/ptvs_virtualenv_proxy.py
