django
django-bootstrap3
django-filter
django-contrib-comments
django-threadedcomments
git+https://github.com/DenisDavidyuk/django-voting.git#egg=django-voting
git+https://github.com/DenisDavidyuk/django-activity-stream.git#egg=django-activity-stream
django-taggit
django-taggit-templatetags2
django-compressor
django-bower
django-libsass
