{% extends "main/base.html" %}
{% block title %}Вход{% endblock %}
{% block replace_autofocus %}{% endblock %}
{% load bootstrap3 %}
{% block content %}

    {% if next %}
        <div class="alert alert-danger alert-dismissable alert-link">
            <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
            {% if user.is_authenticated %}
                Ваш аккаунт имеет недостаточно прав для доступа к этой странице. Чтобы продолжить,
                воспользуйтесь аккаунтом который имеет достаточные права доступа.
            {% else %}
                Пожалуйста, войдите в систему, чтобы увидеть эту страницу.
            {% endif %}
        </div>
    {% endif %}
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Войти' layout='horizontal' %}
            <a class="btn btn-info" type="button" data-toggle="collapse" data-target="#reset_password" href="{% url 'password_reset' %}" onclick="return false;">Забыли пароль?</a>
        {% endbuttons %}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <form class="form-horizontal collapse" id="reset_password" method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        {% bootstrap_form password_reset layout="horizontal" %}
        {% buttons submit='Восстановить пароль' layout='horizontal' %}
        {% endbuttons %}
    </form>
{% endblock %}
