<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация email ДВФУ.</title>
</head>
<body>
    <p>Здравствуйте, <a href="http://{{ request.get_host }}{% url 'user' user.username %}">{{ user.userprofile }}</a>.</p>
    <p>Этот email использовался для регистрации на сайте <a href="http://{{ request.get_host }}/">{{ site_name }}</a>.</p>
    <p>Для активации перейдите по ссылке: <a href="http://{{ request.get_host }}{% url 'fefu_from_mail' token %}">
        http://{{ request.get_host }}{% url 'fefu_from_mail' token %}</a>.</p>
    <p>Если вы не регистрировались на сайте <a href="http://{{ request.get_host }}/">{{ site_name }}</a>, просто проигнорируйте данное письмо.</p>
</body>
</html>
