{% extends 'main/base.html' %}
{% load bootstrap3 %}
{% block title %}Задания{% endblock %}
{% block header-text %}Задания{% endblock %}
{% block content %}
    {% if object_list %}
        <div class="row">
            <div class="col-sm-10">
            {% for task in object_list %}
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-{% if task.status %}default{% else %}success{% endif %}">
                        <div class="panel-heading">
                            {% task_status task.status %}
                            <a href="{% url 'task' task.pk %}">{{ task.title|truncatechars:150 }}</a>
                            {% if task.offers.count %}
                                <span class="badge pull-right" title="Предложений пользователей">
                                    {{ task.offers.count }}
                                </span>
                            {% endif %}
                        </div>
                        {% if task.description %}
                            <div class="panel-body">
                                {{ task.description|truncatechars:200 }}
                            </div>
                        {% endif %}
                        <div class="panel-footer">
                            <table style="width: 100%"><tr>
                                <td>{% user task.author %}</td>
                                <td class="text-right">{{ task.timestamp_create }}</td>
                            </tr></table>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="col-sm-2">
                <a class="btn btn-success btn-block" href="{% url 'task_create' %}">Создать задание</a>
                {% include 'main/common/tags_cloud.html' with model='main.task' %}
            </div>
        </div>
        {% bootstrap_pagination page_obj %}
    {% else %}
        <h4>Задания не найдены</h4>
    {% endif %}

{% endblock %}
