{% extends 'main/base.html' %}
{% load i18n %}
{% block title %}Задания{% endblock %}
{% block header-text %}Задания{% endblock %}
{% block content %}
    {% if tasks %}
        <table class="table table-hover table-condensed">
            <thead>
                <tr><td></td><td>Тема</td><td>Автор</td><td>Предложение</td><td class="hidden-xs">Дата создания</td></tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{% task_status task.status %}</td>
                    <td><a href="{% url 'task' task.pk %}">{{ task.title }}</a></td>
                    <td>{% user task.author %}</td>
                    <td>
                        {% blocktrans count users=task.offers.count %}{{ users }} user{% plural %}{{ users }} users{% endblocktrans %}
                    </td>
                    <td class="hidden-xs">{{ task.timestamp_create }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
        {% include 'main/pager.html' with objects=tasks %}
    {% else %}
        <h2>Задания не найдены</h2>
    {% endif %}

{% endblock %}
