{% extends 'main/base.html' %}
{% block title %}{{ task.title }} - {{ task.author }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-5 col-md-6">
            <h3>{{ task.title }}</h3>
            <table class="table">
                <tr><td>{% user task.author %}</td><td>{% task_status task.status show_caption=True %}</td></tr>
                <tr><td>Дата создания</td><td>{{ task.timestamp_create }}</td></tr>
                {% ifequal task.author user.userprofile %}
                    <tr><td>
                        <span class="label label-{% if task.published %}success{% else %}warning{% endif %}">
                            {% if task.published %}О{% else %}Не о{% endif %}публиковано</span>
                    </td><td>
                        <a class="btn btn-primary btn-xs" href="{% url 'task_edit' task.pk %}">
                            <span class="glyphicon glyphicon-edit"></span><span class="hidden-sm"> Редактировать</span></a>
                        <a class="btn btn-danger btn-xs" href="{% url 'task_delete' task.pk %}">
                            <span class="glyphicon glyphicon-remove"></span><span class="hidden-sm"> Удалить</span></a>
                    </td></tr>
                {% endifequal %}
                <tr><td></td><td>{% include 'main/common/toolbar.html' with object=task %}</td></tr>
            </table>
            <div class="user-text">{{ task.description }}</div>
            {% include 'main/common/comments.html' with object=task %}
        </div>
        <div class="col-sm-7 col-md-6">
            {% if task.status or task.offers.all %}
                <h3>Предложения</h3>
                {% for offer in task.offers.all %}
                    <div class="media">
                        <div class="media-body">
                            <span class="media-heading"><b>{% user offer.user %}</b>
                                <small>| {% include 'main/common/toolbar_inline.html' with object=offer %}</small>
                            </span><br>
                            {{ offer.description }}
                            {% if offer.price %}<div><i>Стоимость: {% coins offer.price %}</i></div>{% endif %}
                            <div style="margin-left: 8%">
                                {% include 'main/common/comments.html' with object=offer %}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
            {% if form %}
                <form method="POST">
                    {% csrf_token %}
                    {% load bootstrap3 %}
                    {% bootstrap_form form size='small' layout='inline' %}
                    {% if not form.instance.pk %}
                        <button type="submit" class="btn btn-success btn-sm">Добавить предложение</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary btn-sm">Сохранить изменения</button>
                        <button type="submit" name="delete" class="btn btn-danger btn-sm pull-right">Удалить предложение</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
