{% load activity_tags %}
<a href="{% follow_all_url object %}?next={{ request.get_full_path }}" data-toggle="tooltip" data-placement="bottom"
   title="{% if request.user|is_following:object %}Отписаться{% else %}Подписаться{% endif %}" class="text-muted">
    <span class="glyphicon glyphicon-eye-{% if request.user|is_following:object %}close{% else %}open{% endif %}"></span>
</a>
{% if show_count %}
    <a href="{% followers_url object %}" data-toggle="tooltip" data-placement="bottom" title="Подписчики">{% followers_count object %}</a>
{% endif %}
