{% load voting_tags %}
{% load api_extras %}
{% score_for_object object as score %}
{% vote_by_user user on object as vote %}
<div class="btn-group" role="group" data-vote data-action="{% api_action object %}" data-id="{% api_id object %}" {% if not user.is_authenticated %} data-toggle="tooltip" data-placement="top" title="Голосование доступно только зарегистрированным пользователям" {% endif %}>
    <a href="{% vote_url object up %}" class="btn btn-xs btn-default {% if vote.vote == 1 or not user.is_authenticated %} disabled {% endif %}" data-up><span class="glyphicon glyphicon-arrow-up"></span></a>
    <button class="btn btn-xs btn-default" {% if not vote %} disabled {% endif %} data-score data-clear {% if user.is_authenticated %} title="Отменить оценку" {% endif %}>{{ score.score }}</button>
    <a href="{% vote_url object down %}" class="btn btn-xs btn-default {% if vote.vote == -1 or not user.is_authenticated %} disabled {% endif %}" data-down><span class="glyphicon glyphicon-arrow-down"></span></a>
</div>
