{% load voting_tags %}
{% score_for_object object as score %}
{% vote_by_user request.user on object as vote %}
<div class="btn-group" role="group">
    {% if not vote.vote %}
        <a href="{% vote_url object up %}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>
    {% endif %}
    <button class="btn btn-xs btn-default disabled">{{ score.score }}</button>
    {% if vote.vote == -1 %}
        <a href="{% vote_url object up %}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>
    {% else %}
        <a href="{% vote_url object down %}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>
    {% endif %}
</div>
