{% load bootstrap3 comments i18n %}
<form class="media" action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {% if not user.is_authenticated %}
        {% bootstrap_field form.name size='small' layout='inline' %}
        {% bootstrap_field form.email size='small' layout='inline' %}
    {% endif %}
    <div class="form-group">
        <label class="sr-only" for="id_comment">Комментарий</label>
        <textarea class="form-control input-sm" cols="40" id="id_comment" maxlength="3000" name="comment" placeholder="Комментарий" required="required" rows="2" title=""></textarea>
    </div>
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    {{ form.parent }}
    <input type="hidden" name="next" value="{{ request.get_full_path }}"/>
    <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
</form>
