{# params: action, hide_actor, hide_target, hide_link #}
{% include 'main/common/action_title.html' %}
{% if action.description %}
    <div class="well-sm">
        {{ action.description|linebreaksbr|truncatechars:100 }}
    </div>
{% endif %}
<div><small>
    {% include 'main/common/time.html' with time=action.timestamp %}
    {% if action.target and not hide_target and action.action_object %}
        | в ответ на
        {% include "main/common/object.html" with object=action.target %}
    {% endif %}
</small></div>
