{# params: object, hide_verbose_name, hide_name, hide_link, capfirst #}
{# example: verbose_name «<a href="...">name</a>» #}
{% if object.userprofile %}
    {% with object=object.userprofile %}
        {% if not hide_link %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>{% else %}{{ object }}{% endif %}
    {% endwith %}
{% else %}
    {% if not hide_verbose_name %}
        {% if hide_name and not hide_link %}<a href="{{ object.get_absolute_url }}">{% endif %}
        {% if capfirst %}{{ object|verbose_name|capfirst }}{% else %}{{ object|verbose_name }}{% endif %}
        {% if hide_name and not hide_link %}</a>{% endif %}
    {% endif %}
    {% if not hide_name %}
        «{% if not hide_link %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>{% else %}{{ object }}{% endif %}»
    {% endif %}
{% endif %}
