{% extends "main/base.html" %}
{% block title %}Операции{% endblock %}
{% block header-text %}Операции{% endblock %}
{% block content %}
    {% if object_list %}
        <table class="table table-hover table-condensed">
            <thead>
                <tr><td></td><td>Отправитель</td><td>Получатель</td><td>Сумма</td><td class="hidden-xs">Дата создания</td></tr>
            </thead>
            <tbody>
            {% for transaction in object_list %}
                <tr>
                    <td><a href="{% url 'transaction' transaction.pk %}">{% status transaction.status %}</a></td>
                    <td>{% user transaction.user_from %}</td>
                    <td>{% user transaction.user_to %}</td>
                    <td><a href="{% url 'transaction' transaction.pk %}">{% coins transaction.amount %}</a></td>
                    <td class="hidden-xs">{{ transaction.timestamp_create }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
        {% include 'main/pager.html' with objects=page_obj %}
    {% else %}
        <h4>Операции не найдены</h4>
    {% endif %}

{% endblock %}
