{% extends "main/base.html" %}
{% load bootstrap3 %}
{% block title %}Операции{% endblock %}
{% block header-text %}Операции{% endblock %}

{% block content %}
    <style>
        label[for$='_0'] { display: block; }
        input[id$='_0'], input[id$='_1'] {
            width: 45%;
            display: inline;
        }
        input[id$='_0'] { margin-right: 5px; }
        input[id$='_1'] { margin-left: 5px; }
    </style>
    <div class="row">
        <div class="col-md-9 col-lg-8">
            {% if object_list %}
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr><td></td><td>Отправитель</td><td>Получатель</td><td>Сумма</td><td class="hidden-xs">Дата создания</td></tr>
                    </thead>
                    <tbody>
                    {% for transaction in object_list %}
                        <tr>
                            <td><a href="{% url 'transaction' transaction.pk %}">{% status transaction.status %}</a></td>
                            <td>{% user transaction.user_from %}</td>
                            <td>{% user transaction.user_to %}</td>
                            <td><a href="{% url 'transaction' transaction.pk %}">{% coins transaction.amount %}</a></td>
                            <td class="hidden-xs">{{ transaction.timestamp_create }}</td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>
                {% bootstrap_pagination page_obj url=request.get_full_path %}
            {% else %}
                <h4>Операции не найдены</h4>
            {% endif %}
        </div>
        <div class="col-md-3 col-lg-4">
            <form method="GET">
                {% bootstrap_form filter.form %}
                {% buttons submit='Применить' %}
                    {% url 'transaction_all' as clear_href %}
                    {% bootstrap_button 'Очистить' button_type='link' href=clear_href button_class='btn-default' %}
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
