{% extends "main/base.html" %}
{% load bootstrap3 %}
{% block title %}Операции{% endblock %}
{% block header-text %}Операции{% endblock %}

{% block extra_head %}
    <style>
        .range-widget { width: 100%; }
        .range-widget td:nth-child(2) {
            padding: 0 4px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block extra_script %}
    <script>
        $(document).ready(function(){
            var f = false;
            $('.advanced input').each(function(_, elem){
                f = f || $(elem).val();
            });
            $('.advanced').addClass('collapse' + (f ? ' in' : ''));
            var label_more = 'Больше параметров';
            var label_less = 'Меньше параметров';
            $('#btn-filters').click(function(e){
                $(this).text($(this).text() == label_more ? label_less : label_more);
                e.preventDefault();
            }).text(f ? label_less : label_more);
        })
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9 col-lg-8">
            {% if object_list %}
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr><td></td><td>Отправитель</td><td>Получатель</td><td>Сумма</td><td class="hidden-xs">Дата создания</td></tr>
                    </thead>
                    <tbody>
                    {% for transaction in object_list %}
                        <tr>
                            <td><a href="{% url 'transaction' transaction.pk %}">{% status transaction.status %}</a></td>
                            <td>{% user transaction.user_from %}</td>
                            <td>{% user transaction.user_to %}</td>
                            <td><a href="{% url 'transaction' transaction.pk %}">{% coins transaction.amount %}</a></td>
                            <td class="hidden-xs">{{ transaction.timestamp_create }}</td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>
                {% bootstrap_pagination page_obj url=request.get_full_path %}
            {% else %}
                <h4>Операции не найдены</h4>
            {% endif %}
        </div>
        <div class="col-md-3 col-lg-4">
            <form method="GET">
                {% for field in filter.form %}
                    {% if field.field.advanced %}
                        {% bootstrap_field field form_group_class='form-group advanced' %}
                    {% else %}
                        {% bootstrap_field field %}
                    {% endif %}
                {% endfor %}
                {% buttons submit='Применить' %}
                    {% url 'transaction_all' as clear_href %}
                    {% bootstrap_button 'Очистить' button_type='link' href=clear_href button_class='btn-default' %}
                    <a id="btn-filters" class="link-dotted" data-toggle="collapse" data-target=".advanced" href="#">Больше параметров</a>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
