{% load staticfiles bootstrap3 %}<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<link rel="icon" href="favicon.ico">-->

        <title>{% block title %}Привет!{% endblock %} — {{ site_name }}</title>

        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
        <style>
            .glyphicon-status { font-size: 22px; vertical-align: middle; }
            textarea { resize: vertical; }
            .link-dotted { border-bottom: 1px dashed #23527C; }
            .link-dotted:hover {
                text-decoration: none;
                border-bottom-style: solid;
            }
            .comments form {
                background-color: #F5F5F5;
                padding: 5px;
                display: none;
            }
            .comments form .form-group { margin-bottom: 5px; }
            .comments form #id_honeypot { display: none; }
            .comments .media { margin-top: 5px; }
            .comments .media .hover { visibility: hidden; }
            .comments .media-body:hover > .media-footer .hover { visibility: visible; }
            .comments .media .media { margin-left: 8%; }
            .comments .media .media .media .media .media .media { margin-left: 0; }
            .user-text {
                white-space: pre-wrap;
                word-break: break-all;
            }
        </style>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">{{ site_name }}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">{% with request.resolver_match.url_name as url_name %}
                <ul class="nav navbar-nav">
                    <li{% if 'task' in url_name %} class="active"{% endif %}>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'task_all' %}">
                            Задания <b class="caret"></b></a>
                        <ul class="dropdown-menu" id="user_menu">
                            <li{% if url_name == 'task_all' %} class="active"{% endif %}>
                                <a href="{% url 'task_all' %}">Все задания</a></li>
                            <li{% if url_name == 'task_create' %} class="active"{% endif %}>
                                <a href="{% url 'task_create' %}">Создать задание</a></li>
                        </ul>
                    </li>
                    <li{% if 'service' in url_name %} class="active"{% endif %}>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'service_all' %}">
                            Услуги <b class="caret"></b></a>
                        <ul class="dropdown-menu" id="user_menu">
                            <li{% if url_name == 'service_all' %} class="active"{% endif %}>
                                <a href="{% url 'service_all' %}">Все услуги</a></li>
                            <li{% if url_name == 'service_create' %} class="active"{% endif %}>
                                <a href="{% url 'service_create' %}?from={{ request.path }}">Добавить услугу</a></li>
                        </ul>
                    </li>
                    <li{% if 'transaction' in url_name %} class="active"{% endif %}>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'transaction_all' %}">
                            Операции <b class="caret"></b></a>
                        <ul class="dropdown-menu" id="user_menu">
                            <li{% if url_name == 'transaction_all' %} class="active"{% endif %}>
                                <a href="{% url 'transaction_all' %}">Все операции</a></li>
                            <li{% if url_name == 'transaction_create' %} class="active"{% endif %}>
                                <a href="{% url 'transaction_create' %}?from={{ request.path }}">Перевести кленинки</a></li>
                        </ul>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {{ user.userprofile }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li{% if url_name == 'user' and request.resolver_match.kwargs.username == user.username %} class="active"{% endif %}>
                                    <a href="{% url 'user' user.username %}">Моя страница</a>
                                </li>
                                <li{% if url_name == 'feed' %} class="active"{% endif %}>
                                    <a href="{% url 'feed' %}">Мои новости</a>
                                </li>
                                <li{% if url_name == 'settings' %} class="active"{% endif %}>
                                    <a href="{% url 'settings' %}">Параметры</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Выход</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <form method="post" action="{% url 'login' %}" class="navbar-form navbar-right">
                        <div class="hidden-sm hidden-md">
                            <div class="form-group">
                                <input name="username" type="text" placeholder="Имя пользователя" class="form-control" required {% block replace_autofocus %}autofocus{% endblock %}>
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" placeholder="Пароль" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Войти</button>
                                <a href="{% url 'register' %}" class="btn btn-success">Регистрация</a>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-lg">
                            <a href="{% url 'login' %}" class="btn btn-default">Вход</a>
                            <a href="{% url 'register' %}" class="btn btn-success">Регистрация</a>
                        </div>
                        {% csrf_token %}
                    </form>
                {% endif %}
            {% endwith %}</div>
        </div>
    </nav>

<main class="container">
    {% block header %}
        <h3>{% block header-text %}{% endblock %}</h3>
    {% endblock %}
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</main>

        <footer class="container">
            <hr>
            <div class="row">
                <div class="col-xs-6"><p>2016 {{ site_name }}</p></div>
                <div class="col-xs-6">
                    <p class="text-right"><a href="https://github.com/Davidyuk/witcoin/issues">Трекер ошибок</a>, <a href="http://vk.com/witcoin">VK</a></p>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('[data-toggle="tooltip"]').tooltip({ 'delay': 200 });
                $('.comments form button[type="submit"]').tooltip({
                    'delay': 1000,
                    'placement': 'bottom',
                    'title': 'Enter — отправка сообщения Shift+Enter — перенос строки'
                });
                $('.comments .link-comment').click(function(event){
                    var $comments = $(this).parents('.comments').first();
                    var $form = $comments.find('form').first();
                    $form.find('#id_comment').val('');
                    $form.find('#id_parent').val('');
                    $form.appendTo($comments);
                    $(this).hide();
                });
                $('.comments .link-reply').click(function(event) {
                    var $this = $(this);
                    var $form = $this.parents('.comments').first().find('form').first();
                    $form.find('#id_parent').val($this.data('comment-id'));
                    $form.insertAfter($this.closest('div'));
                    $('.comments .link-comment').show();
                });
                $('.comments .link-comment, .comments .link-reply').click(function(event) {
                    $('.comments form').hide();
                    var $form = $(this).parents('.comments').first().find('form').first();
                    $form.show().find('input[type!="hidden"], textarea').first().focus();
                    event.stopPropagation();
                    event.preventDefault();
                    $('body').click(function FormHide(event) {
                        if ($(event.target).closest('.comments form').length === 0) {
                            $('.comments form').hide();
                            $('.comments .link-comment').show();
                            $('body').unbind('click', FormHide)
                        }
                    });
                });
                $('.comments textarea').keydown(function(event) {
                    if (event.keyCode == 13 && !event.shiftKey) {
                        $(this).parents('form').first().find(':submit').click();
                        event.preventDefault();
                    }
                });
                if (localStorage) {
                    var scrollTop = localStorage["scrollTop"];
                    if (scrollTop) {
                        $(window).scrollTop(scrollTop);
                        localStorage.removeItem("scrollTop");
                    }
                    $('.comments form').submit(function () {
                        localStorage["scrollTop"] = $(window).scrollTop();
                    });
                }
            });
        </script>
        {% block extra_script %}{% endblock %}
    </body>
</html>
