{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<link rel="icon" href="favicon.ico">-->

        <title>{{ site_name }} — {% block title %}{% endblock %}</title>

        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">{{ site_name }}</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="{% if request.resolver_match.url_name == "transactions" %}active{% endif %}">
                    <a href="{% url 'transaction_all' %}">Все операции</a>
                </li>
            </ul>
            <div id="navbar" class="collapse navbar-collapse">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-right">
                        <a href="{% url 'transaction_create' %}?from={{ request.path }}" class="btn btn-info navbar-btn">Перевести</a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {{ user.userprofile }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" id="user_menu">
                                {% with request.resolver_match as r %}
                                    <li class="{% if r.url_name == 'user' and r.kwargs.username == user.username %}active{% endif %}">
                                        <a href="{% url 'user' user.username %}">Моя страница</a>
                                    </li>
                                {% endwith %}
                                <li class="divider"></li>
                                <li class="{% if request.resolver_match.url_name == "transaction_create" %}active{% endif %}">
                                    <a href="{% url 'transaction_create' %}?from={{ request.path }}">Перевести</a>
                                </li>
                                <li>
                                    <a href="{% url 'settings' %}">Параметры</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'logout' %}">Выход</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-right hidden-onlogin">
                        <a href="{% url 'login' %}" class="btn btn-default navbar-btn hidden-lg hidden-xs">Вход</a>
                        <a href="{% url 'register' %}" class="btn btn-success navbar-btn">Регистрация</a>
                    </ul>
                    <form method="post" action="{% url 'login' %}" class="form-login navbar-form navbar-right hidden-md hidden-sm">
                        <div class="form-group">
                            <input name="username" type="text" placeholder="Имя пользователя" class="form-control" required
                            {% block replace_autofocus %}autofocus{% endblock %}>
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" placeholder="Пароль" class="form-control" required>
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default">Войти</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>

<main class="container">
{% block content %}
{% endblock %}
</main>

        <footer class="container">
            <hr>
            <div class="row">
                <div class="col-sm-6"><p>2015 {{ site_name }}</p></div>
                <div class="col-sm-6">
                    <p class="text-right">...</p>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    </body>
</html>
