{% extends 'main/base.html' %}

{% block title %}Удалить {{ object|verbose_name }}{% endblock %}
{% block header-text %}Удалить {{ object|verbose_name }}{% endblock %}

{% block content %}
    <div class="alert alert-warning">
        Вы уверены, что хотите удалить {% include 'main/common/object.html' %}?
    </div>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% load bootstrap3 %}
        {% bootstrap_button 'Удалить' button_type='submit' button_class='btn-danger' %}
        {% bootstrap_button 'Отменить' button_type='link' href=object.get_absolute_url button_class='btn-default' %}
    </form>
{% endblock %}
