{% extends "main/base.html" %}
{% load i18n threadedcomments_tags %}
{% block title %}Привет!{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-8">

        <h4>Дорогие друзья!</h4>
        <p>
            Используя этот сервис, вы можете осуществлять взаимопомощь друг другу.
        </p>
        <p>
            Здесь вы можете запросить помощь или задать вопрос в разделе «<a href="{% url 'task_all' %}">Задания</a>».
            С другой стороны, вы также можете предложить услуги в разделе «<a href="{% url 'service_all' %}">Услуги</a>».
        </p>

        <p>
            Зарегистрировавшись на нашем сайте, вы сможете обмениваться виртуальной валютой (кленинками).
            Заработанными вами кленинками можно оплачивать услуги других участников.
        </p>
        <p>
            На сайте может зарегистрироваться каждый.
            После регистрации студенты ДВФУ могут получить 10 кленинок, <a href="{% url 'fefu_send_mail' %}">подтвердив свой статус студента</a>, через почту ДВФУ (@students.dvfu.ru).
        </p>
        <p>
            Обращаем ваше внимание на то, что все операции передачи кленинок отображаются в разделе «<a href="{% url 'transaction_all' %}">Операции</a>».
            Новые кленинки выдаются только студентам ДВФУ при регистрации корпоративного адреса электронной почты.
        </p>
        <p>
            Как только количество пользователей станет достаточно большим, планируется установить принтер в корпусе D с возможностью распечатать документы за кленинки.
        </p>

        <div class="panel panel-default">
            <div class="panel-heading">Информация о системе</div>
            <table class="table">
                <tbody>
                    <tr><td>Всего в системе</td><td>{% coins money_all %}</td></tr>
                    <tr><td>Зарегистрированно пользователей</td><td>
                        {% blocktrans count users=users_count %}{{ users }} user{% plural %}{{ users }} users{% endblocktrans %}
                    </td></tr>
                </tbody>
            </table>
        </div>

        {% if tasks|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-flag text-info glyphicon-status"></span>
                    Актуальные задания
                </div>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr><td>Тема</td><td>Автор</td><td></td><td class="hidden-xs hidden-sm">Дата создания</td></tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td class="text-wrapped forced"><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></td>
                                <td>{% user task.author %}</td>
                                <td><span class="badge pull-right" title="Предложений пользователей">
                                    {{ task.offers.count }}
                                </span></td>
                                <td class="hidden-xs hidden-sm">{{ task.timestamp_create }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if services|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-education text-success glyphicon-status"></span>
                    Последние услуги
                </div>
                <table class="table table-hover table-condensed">
                    <tbody>
                        {% for service in services %}
                            <tr>
                                <td><a href="{{ service.get_absolute_url }}">{{ service.title }}</a></td>
                                <td>{% user service.author %}</td>
                                <td><span class="badge pull-right" title="Комментариев">
                                    {% get_comment_count for service as comments_count %}
                                    {{ comments_count }}
                                </span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Лидеры по балансу</div>
            <ul class="list-group">
                {% for user in users_top_balance %}
                    <li class="list-group-item">{% user user %}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel panel-default hidden-xs">
            <div class="panel-heading">Недавно зарегистрировавшиеся</div>
            <ul class="list-group">
                {% for user in users_last %}
                    <li class="list-group-item">{% user user %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
