{% extends "main/base.html" %}
{% load i18n %}
{% block title %}Привет!{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading">Информация о системе</div>
            <table class="table">
                <tbody>
                    <tr><td>Всего в системе</td><td>{% coins money_all %}</td></tr>
                    <tr><td>Средняя стоимость операции</td><td>{% coins money_avg %}</td></tr>
                    <tr><td>Зарегистрированно пользователей</td><td>
                        {% blocktrans count users=users_count %}{{ users }} user{% plural %}{{ users }} users{% endblocktrans %}
                    </td></tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Лидеры</div>
            <ul class="list-group">
                {% for user in users_top %}
                    <li class="list-group-item">{% user user %}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Недавно зарегистрировавшиеся</div>
            <ul class="list-group">
                {% for user in users_last %}
                    <li class="list-group-item">{% user user %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
