{% extends "main/base.html" %}
{% block title %}Операции{% endblock %}
{% block content %}
    {% if transactions %}
        <table class="table table-hover table-condensed">
            <thead>
                <tr><td>От кого</td><td>Кому</td><td>Сколько</td><td>Когда</td><td>Статус</td></tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{% user transaction.user_from %}</td>
                    <td>{% user transaction.user_to %}</td>
                    <td><a href="{% url 'transaction' transaction.pk %}">{% coins transaction.amount %}</a></td>
                    <td><a href="{% url 'transaction' transaction.pk %}">{{ transaction.timestamp }}</a></td>
                    <td><a href="{% url 'transaction' transaction.pk %}">{% status transaction.status %}</a></td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
        {% include 'main/pager.html' with objects=transactions page_name='transactions' %}
    {% else %}
        <h2>Операции не найдены</h2>
    {% endif %}

{% endblock %}
