{% extends "main/base.html" %}
{% block title %}Операция №{{ transaction.pk }}{% endblock %}
{% block header-text %}Операция №{{ transaction.pk }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover col-md-6 table-middle">
                <tr><td>Отправитель</td><td>{% user transaction.user_from %}</td></tr>
                <tr><td>Получатель</td><td>{% user transaction.user_to %}</td></tr>
                <tr><td>Сумма</td><td>{% coins transaction.amount %}</td></tr>
                <tr><td>Дата создания</td><td>{{ transaction.timestamp_create }}</td></tr>
                <tr><td>Дата подтверждения</td><td>{{ transaction.timestamp_confirm }}</td></tr>
                <tr><td>Статус</td><td>{% status transaction.status True %}</td></tr>
                <tr><td>Описание</td><td>{{ transaction.description }}</td></tr>
                {% if status_editable %}
                    <tr><td>Действия</td><td>
                        <form class="form-horizontal" method="POST">
                            {% csrf_token %}
                            {% ifequal transaction.user_to request.user.userprofile %}
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            {% else %}
                                <button type="submit" name="status" value="ok" class="btn btn-success"
                                    {% if request.user.userprofile.balance < transaction.amount %}
                                        disabled title="Недостаточно средств"
                                    {% endif %}>Подтвердить</button>
                                <button type="submit" name="status" value="cancel" class="btn btn-warning">Отменить</button>
                            {% endifequal %}
                        </form>
                    </td></tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
